extends layout

block content
  .card
    .card-header: h3 /t/#{thread}
    .card-body
      h4.title
      p.body
      a.user
      p.info
    .list
      //.list-item.list-item-small.list-item-gray.t1_1
        .list-item-body
          h5 Tjena 1
          a(href="#") t1_1
        .list-item.list-item-small.list-item-gray.t3_4
          .list-item-body
            h5 Tjena 4
            a(href="#") t1_4
          .list-item.list-item-small.list-item-gray.t3_3
            .list-item-body
              h5 Tjena 3
              a(href="#") t1_3
        .list-item.list-item-small.list-item-gray.t3_5
          .list-item-body
            h5 Tjena 5
            a(href="#") t1_5
      //.list-item.list-item-small.list-item-gray.t1_2
        .list-item-body
          h5 Tjena 2
          a(href="#") t1_2
      //.list-item.list-item-small.list-item-gray.t1_3
        .list-item-body
          h5 Tjena 3
          a(href="#") t1_3

      - var colors = ['gray', 'blue', 'green', 'red', 'yellow'];
      - var children = Array();
      each result, i in results
        //if result.parent_id === result.link_id
        .list-item.list-item-small(class="list-item-#{colors[0]} #{result.name}")
          .list-item-body
            h5 #{result.body}
            a(href="/u/#{result.author}") #{result.author}
            span.info  #{getDate(result.created_utc)}
        //else
          - children.push(result);
      //script.
        var children = !{JSON.stringify(children)};
        var el;
        children.forEach(function(child) {
          el = document.getElementsByClassName('.' + child.parent_id);
          if (el.length === 1) {
            console.log("asdabnsdiuasbndiuasbdiuasbdiasudbiausdbasiudbasiduabsdiuasbduasd");
            el[0].innerHTML +=
              '<div class="list-item list-item-small list-item-gray ' + child.link_id + '">' +
                '<div class="list-item-body">' +
                  '<h5>' + child.body + '</h5>' +
                  '<a href="/u/' + child.author + '">' + child.author + '</a>' +
                '</div>' +
              '</div>';
          }
        });

  script.
    (function() {
      $.ajax({
        type: 'GET',
        url: 'https://api.reddit.com/api/info?id=#{thread}',
        success: function(result) {
          var data = result.data.children[0].data;
          console.log(data);
          $('h3').html(data.title);
          $('p.body').html(data.selftext);
          $('a.user').html(data.author).attr('href', '/u/' + data.author);
          $('p.info').html(" " + getDate(data.created_utc));
          getNextLinkInfo(i+1);
        },
        error: function(result) {
          console.log("error: " + result);
        }
      });
    })();